body {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.phone-navbar, .phone-navbar1 {
    display: none;
}

.phone-navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.navbar a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
  
.navbar a:hover {
    left: 0;
}

#nav-home {
    top: 1em;
    background-color: #4CAF50;
}
  
#nav-projects {
    top: 7em;
    background-color: teal;
}
  
#nav-about {
    top: 4em;
    background-color: #04AA6D;
}
  
#nav-contact {
    top: 10em;
    background-color: rgb(0, 100, 100);
}

.title, .subtitle, .socials {
    text-align: center;
}

#title {
    font-family: 'Audiowide', cursive;
}

.socialsIcon {
    max-width: 2em;
}

.imgBackground1 {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20em;
    color: white;

    border-bottom: 3px solid black;
}

.aboutText {
    text-align: center;
    padding: 1em;
    max-width: 80%;
    margin: auto;
}

.sticky {
    position: fixed;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 20em;
    margin: 1em;
    padding: 1em;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.project:hover {
    box-shadow: 0 0 10px #e6e6e6;
}

.projectTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.projectDescription {
    font-size: 1em;
    color: #555;
}

.projectLink {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.projectLink:hover {
    color: #000000;
}

.nice + span:hover {
    color: #4CAF50;
    font-size: 1.2em;
}

.vl {
    border-left: .6em solid black;
    height: 20em;
}

.mostUsed {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    text-align: center;
}

.next2eachoters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div1 {
    margin-right: 10em;
}

.div2 {
    margin-left: 10em;
}

.Knoppie {
    border: .2em solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 8em;
    border-radius: 1em;
    text-align: left;
}

.Knoppie:hover {
    box-shadow: 0 0 10px black;
}.tooltipbash {
    display: inline-block;
}

.tooltipbash .tooltipbashtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipbash:hover .tooltipbashtext {
    visibility: visible;
}

.tooltipboot {
    display: inline-block;
}

.tooltipboot .tooltipboottext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipboot:hover .tooltipboottext {
    visibility: visible;
}

.tooltipcss {
    display: inline-block;
}

.tooltipcss .tooltipcsstext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipcss:hover .tooltipcsstext {
    visibility: visible;
}

.tooltiphtml {
    display: inline-block;
}

.tooltiphtml .tooltiphtmltext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltiphtml:hover .tooltiphtmltext {
    visibility: visible;
}

.tooltipejs {
    display: inline-block;
}

.tooltipejs .tooltipejstext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipejs:hover .tooltipejstext {
    visibility: visible;
}

.tooltipjs {
    display: inline-block;
}

.tooltipjs .tooltipjstext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipjs:hover .tooltipjstext {
    visibility: visible;
}

.tooltipnode {
    display: inline-block;
}

.tooltipnode .tooltipnodetext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipnode:hover .tooltipnodetext {
    visibility: visible;
}

.tooltipnpm {
    display: inline-block;
}

.tooltipnpm .tooltipnpmtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipnpm:hover .tooltipnpmtext {
    visibility: visible;
}

.tooltipvscode {
    display: inline-block;
}

.tooltipvscode .tooltipvscodetext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipvscode:hover .tooltipvscodetext {
    visibility: visible;
}

.tooltipdevicon {
    display: inline-block;
}

.tooltipdevicon .tooltipdevicontext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipdevicon:hover .tooltipdevicontext {
    visibility: visible;
}

.tooltipwindows {
    display: inline-block;
}

.tooltipwindows .tooltipwindowstext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipwindows:hover .tooltipwindowstext {
    visibility: visible;
}

.tooltipgithub {
    display: inline-block;
}

.tooltipgithub .tooltipgithubtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipgithub:hover .tooltipgithubtext {
    visibility: visible;
}

.tooltipexpress {
    display: inline-block;
}

.tooltipexpress .tooltipexpresstext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipexpress:hover .tooltipexpresstext {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 5px;
}  

::-webkit-scrollbar-thumb {
    background: rgb(170, 0, 170); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: purple; 
}

.gradiant1 {
    background: linear-gradient(-45deg, rgb(255, 57, 57), #2f9b43, #5a00a3, rgb(182, 168, 41));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-top: -1.25em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@media only screen and (max-width: 600px) {
    .vl {
        display: none;
    }
    .phone-navbar {
        display: block;
    }
    .phone-navbar1 {
        display: none;
    }
    .navbar {
        display: none;
    }
}